<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>&Eacute;cole du Tech-Lead</title>
    </head>
    <body style="background-color: #f5f6f4; margin: 0; padding: 0; font-family: 'Arial'; font-size: 12px;">
        <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#f5f6f4" id="global">
            <tr>
                <td align="center">
                    <table width="600" cellspacing="0" cellpadding="0" style="background-color: #f5f6f4;" id="header">
						<tr>
	                        <td height="77" align="left" style="background-color: #353535;">
	                            <table width="600" border="0" cellspacing="0" cellpadding="0" id="chapeau">
	                                <tr>
	                                    <td>
	                                        <img src='images/header.png' width="600" height="77" alt="header"/>
	                                        <p style="text-align: right; margin-right: 0px; margin-top: 0px; font-size: 14px; color: gray; font-family: serif; font-style: italic; ">
                            					Mercredi 9 novembre 2011
                            				</p>
	                                    </td>
	                                </tr>
	                            </table>
	                        </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table width="600" cellspacing="0" cellpadding="0" style="background-color: #FFFFFF;" id="content">
                        <tr>
                            <td valign="top" width="560" style="font-family: 'Lucida Grande'; font-size: 12px; color: #333333; text-align: left; padding: 22px 14px 0;">
								
								<table>
									<tr>
										<td>
											<h2 style="clear: both; color: #000000; font-family: 'Lucida Grande'; font-size: 16px; margin: 20px 0 16px; text-transform: uppercase;">
                               					Prochainement : Le reporting au client !
											</h2>
										</td>
										<td>
											
										</td>
									</tr>
								</table>
								
								<table>
									<tr>
										<td style="font-family: 'Lucida Grande'; font-size: 12px; color: #333333; text-align: left;">
											<p style="margin-top: 10px; text-align: justify;">
												Si toi aussi, comme BEG, tu veux apprendre à faire de beaux graphiques qui font mouche...
											</p>
										</td>
										<td>
											<img src='images/reporting.png' style="padding: 0px 18px 0;" width="400" height="200" />
										</td>
									</tr>
								</table>
								
								<p style="margin-top: 12px; text-align: justify;">
									Mais où donc s'arrête le rôle du tech-lead ?<br>
									Doit-il fournir au client des indicateurs : de qualité, de productivité, de risque ?
                                </p>
								
								<p style="margin-top: 12px; text-align: justify;">
									C'est <b>demain 12h30</b> en Audiard !<br/>
									Nous parlerons du <b>reporting au client</b> dans un format open-space / BBL.<br/>
									Le but étant de sortir un A4 synthétisant les meilleurs tips & tricks.
                                </p>
                                
								
                                
                                
									
								<br style="clear: both;"/>
                                
                                <img src='images/hr.gif' width="540" height="27" alt="Hr"/>
                                
                                <h2 style="color: #000000; font-family: 'Lucida Grande'; font-size: 16px; margin: 10px 0 16px; text-transform: uppercase;">
                                	What else ?
                               	</h2>
                               	
								<table>
									<tr>
										<td style="font-family: 'Lucida Grande'; font-size: 14px; color: #333333; text-align: left;">
											<p style="margin-top: 10px; text-align: justify;">
												<b>Le second tour !</b><br/>
												<a href="http://doodle.com/dxia5gghw6aqphg2">Votez !</a> Pour les prochains sujets abordés.<br/><br/>
											</p>
										</td>
										<td>
											<img src='images/vote.jpeg' style="padding: 0px 18px 0;" width="180" height="140" />
										</td>
									</tr>
								</table>
								
								<table>
									<tr>
										<td>
											<img src='images/boxe.jpg' style="padding: 0px 18px 0;" width="180" height="150" />
										</td>
										<td style="font-family: 'Lucida Grande'; font-size: 14px; color: #333333; text-align: left;">
											<p style="margin-top: 10px; text-align: justify;">
												<b>Les comptes rendus</b><br/>
											</p>
											<ul>
												<li><a href="https://intranet.octo.com/confluence/display/ReD/CR-GuideRevueDeCode">la revue de code</a></li>
												<li>la rétrospective technique : <br/>dès demain dans les bacs !!!</li>
											</ul>
										</td>
									</tr>
								</table>
								
                                <br style="clear: both;"/>
                                
                                <img src='images/hr.gif' width="540" height="27" alt="Hr"/>
                                	
                                <br style="clear: both;"/>
                                <center>                                
	            					<table>
	            						<tr>
	            							<td>N'oubliez pas !
	            							</td>
	            						</tr>
										<tr>
											<td style="font-family: 'Lucida Grande'; font-size: 12px; color: #333333; text-align: left;">
												<ul>
													<li>When  : <b>Jeudi</b> 10 novembre </li>
													<li>What  : Le guide du <b>reporting au client</b></li>
													<li>Where : Salle Audiard</li>
												</ul>
											</td>
										</tr>
									</table>
								</center>
                                <br/>
                                
								<img src='images/hr.gif' width="540" height="27" alt="Hr"/>
			                    
			             	</td>
	                    </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <table width="560" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td style="border-top: 2px solid #EDEDED;" align="left">
                                            <p style="margin-top: 14px; margin-bottom: 14px; color: #A1A1A1; font-size: 11px;">
                                                NDN | L'&Eacute;cole du Tech-Lead OCTO | Octobre 2011
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <br>
                </td>
            </tr>
        </table>
    </body>
</html>
